<!DOCTYPE html>
<html>
<head>
    <title>Change PIN</title>
    <script>
        function validateInput(event) {
            var keyCode = event.keyCode || event.which;
            var key = String.fromCharCode(keyCode);
            var regex = /[0-9]/; // Only allow numeric input
            var pinField = document.getElementById("new_pin");
            
            // Limit PIN input to 4 digits
            if (pinField.value.length >= 4 || !regex.test(key)) {
                event.preventDefault();
                return false;
            }
        }
    </script>
</head>
<body>
    <h1>Change PIN</h1>
    <form action="/pin_change" method="post">
        <label for="accno">Account Number:</label>
        <input type="text" id="accno" name="accno" onkeypress="return validateInput(event)" required><br><br>
        <label for="old_pin">Old PIN:</label>
        <input type="password" id="old_pin" name="old_pin" placeholder="Enter your Old PIN" onkeypress="return validateInput(event)" required><br><br>
        <label for="new_pin">New PIN:</label>
        <input type="password" id="new_pin" name="new_pin" placeholder="Enter your New PIN" onkeypress="return validateInput(event)" required><br><br>
        <button type="submit">Change PIN</button>
    </form>
</body>
</html>
