<!DOCTYPE html>
<html>
<head>
    <title>Account Details</title>
</head>
<body>
    <h1>Account Details</h1>
    <form action="/save_account_details" method="post">
        <input type="hidden" name="accno" value="{{ accno }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="account_type">Account Type:</label>
        <select id="account_type" name="account_type" required>
            <option value="Savings Account">Savings Account</option>
            <option value="Salary Account">Salary Account</option>
            <option value="DEMAT Account">DEMAT Account</option>
        </select><br><br>

        <label for="branch">Branch:</label>
        <input type="text" id="branch" name="branch" required><br><br>
        <label for="gmail">Gmail:</label>
        <input type="email" id="gmail" name="gmail" required><br><br>
        <label for="pin">PIN:</label>
        <input type="password" id="pin" name="pin" minlength="4" maxlength="4" required><br><br>
        <button type="submit">Save</button>
    </form>
</body>
</html>
